/* @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap'); */
@import 'tailwindcss';

@config "../tailwind.config.js";
@theme {
  --radius-xxl: 14px;
  --radius-2xxl: 18px;
  --my-gap: 14px;
  --text-4xxl: 40px;
  --text-xs: 12px;
  --text-20: 20px;

  --color-header: #111111cc;
  --color-black-20: #202020;
  --color-black-23: #232323;
  --color-black-24: #242424;
  --color-black-26: #262626;
  --color-black-2526: #252526;

  --color-border-avt: #414141;
  --color-border-user: #2b2826;
  --color-border-logo: #ebebfd3d;
  --color-icon-notify: #ff3a3a;
  --color-border-grey: #f5f5f5;
  --color-border-arrow: #575757;
  --color-bg-card: #e7e7e7;
  --color-record: #ff5b5b;

  --color-pink: #ff4cac;
  --color-purple: #7054fe;
  --color-blue: #4193fe;
  --color-green: #32bb70;
  --color-neutral: #ffffff;

  --bg-green: #66d2a1;
  --bg-grey: #f8f8f8;
  --bg-red-dark: #332020;
  --color-button-purple: #5e53f5;
  --color-stroke-gradient-dark: linear-gradient(
    135deg,
    rgba(62, 62, 62, 1),
    rgba(45, 44, 47, 0)
  );

  --color-stroke-tooltip: linear-gradient(
    178deg,
    rgba(95, 95, 95, 1),
    rgba(87, 87, 87, 0)
  );

  --color-stroke-gradient-green: linear-gradient(
    135deg,
    rgba(190, 242, 218, 1),
    rgba(26, 188, 114, 0)
  );

  --color-gradient-red: linear-gradient(
    135deg,
    rgba(184, 88, 88, 1),
    rgba(87, 87, 87, 0),
    rgba(221, 221, 221, 0)
  );

  --color-gradient-black: linear-gradient(
    135deg,
    rgba(95, 95, 95, 1),
    rgba(87, 87, 87, 0),
    rgba(87, 87, 87, 0)
  );
  --color-bg-gradient-green: rgba(145, 241, 111, 1);
  --color-bg-gradient-black: rgba(143, 143, 143, 0);

  --shadow-green: 0 0 14px 0 rgba(111, 191, 132, 0.4);
  --inset-shadow-dark: 2px 2 px 4px rgba(0, 0, 0, 0.25);
  --shadow-dark: 1px 5px 17px 0 rgba(0, 0, 0, 0.05);
}

@layer {
  .icon-header {
    @apply rounded-xl bg-black-26 w-fit h-fit p-2 flex items-center justify-center gap-2.5;

    @apply relative z-10;
  }

  .icon-header::after {
    content: '';
    @apply absolute inset-0 rounded-xl;
    background: var(--color-stroke-gradient-dark);
    padding: 1px;
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    z-index: 1;
  }

  .span-icon {
    @apply w-3.25 h-3.25 flex justify-center items-center;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  font-family:
    Plus Jakarta Sans,
    sans-serif;
}
